$font-size_h2: 36px;
$titlefont: 'Oswald', 'Verdana', serif;

$buttonheight: 40px;

@mixin roundedborder {
    border: 1px solid #000;
    border-radius: 5px;  
}

.cart {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;

    &__title {
        font-family: $titlefont;
        font-size: $font-size_h2;
    }
   
    &__product {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
    }

    &__productpicture {
        width: 33.3%;
        padding-right: 10px;
    }

    &__productimg {
        width: 100%;
    }

    &__aboutproduct {
        width: 66.6%;
        padding-left: 10px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
    }

    &__buttons {    
        display: flex;
        flex-flow: row nowrap;
    }

    &__quantity {
        height: $buttonheight;
        width: 15%;
        @include roundedborder();
        margin-right: 10px;
        padding: 5px;
    }

    &__refresh {
        height: $buttonheight;
        @include roundedborder();
        margin-right: 10px;
        padding: 5px;
    }

    &__delete {
        height: $buttonheight;
        @include roundedborder();
        padding: 5px;
    }

    &__insertinfo {
        margin-top: 20px;
        display: flex;
        flex-flow: row nowrap;
    }

    &__buyerinfo {
        width: 50%;
        margin-right: 10px;
    }

    &__paymentinfo {
        width: 50%;
        margin-left: 10px;
    }

    &__form {
        display:flex;
        flex-flow: column wrap;
    }

    &__formrow {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    &__formcol {
        width: 50%;
    }

}