$font-size_h4: 20px;
$font-size_footer: 14px;
$font-size_Mark: 11px;


.fotur {
  margin: auto;
  padding-top: 40px;
  background-color: #cc9694;
  justify-content: space-evenly;

}

.card__title h4 {
    padding-bottom: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: $font-size_h4;
}

.card__efni p{
    font-family: Helvetica;
    color: #ffffff;
    padding-bottom: 5px;
    font-size: $font-size_footer;
}

.Mark{
    text-align: center;
    font-family: Helvetica;
    color: #ffffff;
    font-size: $font-size_Mark;
    padding-bottom: 20px; 
    padding-top: 20px; 

}

.cards{
    display: flex;
    justify-content: space-evenly;

    @media screen {
        @media (max-width: 500px) {
            display: flex;
            flex-wrap: wrap;            
            width: 100%;        
        }

        @media (max-width: 800px) {
            display: flex;
            flex-wrap: wrap;            
            width: 100%;        
        }

        
    }
}