$max-width: 1200px;
$font-size_h1: 32px;
$font-size_p: 16px;
$b: black;
$tn: none;

.header__name{
    font-size: $font-size_h1;
    color:$b;
    text-decoration: $tn;
    max-width: $max-width;
}

.header__links{
    font-size: $font-size_p;
    color:$b;
    text-decoration: $tn;
    max-width: $max-width;
}

h1{
    color: red;
}