@import "scss/header.scss";
@import "scss/config.scss";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.main { /* stylelint-disable-line */
  max-width: 1200px;
  box-sizing: border-box;
  margin: auto;
  overflow-x: hidden;
  // TODO fleiri grunn stillingar
}



h1 { /* stylelint-disable-line */ 
  font-size: 50px;
}
